[submodule "src/rhbp"]
	path = src/rhbp
	url = https://gitlab.tubit.tu-berlin.de/etti/rhbp.git
	branch = master
[submodule "third-party/graphhopper"]
	path = third-party/graphhopper
	url = https://github.com/graphhopper/graphhopper.git
[submodule "src/so_data"]
	path = src/so_data
	url = https://gitlab.tubit.tu-berlin.de/etti/so_data.git
	branch = master
[submodule "src/rhbp_selforga"]
	path = src/rhbp_selforga
	url = https://gitlab.tubit.tu-berlin.de/etti/rhbp_selforga.git
	branch = master
