<launch>
    <arg name="agent_name" default="a1" />
    <arg name="bid_for_auctions" default="False"  />

    <node pkg="mapc_rhbp_ettlinger" type="rhbp_agent.py" respawn="true"
        name="rhbp_agent_$(arg agent_name)" output="screen"
        >
            <param name="agent_name" value="$(arg agent_name)" />
            <param name="bid_for_auctions" value="$(arg bid_for_auctions)" type="bool" />
    </node>

</launch>
