<launch>

    <!-- Enable custom logger configuration-->
    <env name="ROS_PYTHON_LOG_CONFIG_FILE" value="$(find mapc_rhbp_ettlinger)/launch/python_logging.conf"/>

    <include file="$(find knowledge_base)/launch/knowledge_base_node.launch" pass_all_args="true">
    </include>

    <!--Infrastructure Nodes-->
    <include file="$(find mapc_rhbp_ettlinger)/launch/graphhopper.launch">
        <arg name="initial_port" value="8989" />
    </include>

    <!--Planner Nodes-->
    <include file="$(find mapc_rhbp_ettlinger)/launch/planner.launch" pass_all_args="true">
    </include>


    <!-- Drones -->
        <!-- Bridges -->
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA1" />
        <arg name="only_agent_specific" value="False" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA2" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA3" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA4" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA5" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA6" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA7" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA8" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA9" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA10" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA11" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA12" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA13" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA14" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA15" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA16" />
    </include>
    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA17" />
    </include>

    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA1" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA2" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA3" />
        <arg name="bid_for_auctions" value="True" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA4" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA5" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA6" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA7" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA8" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA9" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA10" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA11" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA12" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA13" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA14" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA15" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA16" />
    </include>
    <include file="$(find mapc_rhbp_ettlinger)/launch/rhbp_agent.launch" pass_all_args="true">
        <arg name="agent_name" value="agentA17" />
    </include>
</launch>