<launch>

    <!-- First used port for the first map, additional map servers will use port numbers incremented by 1-->
    <arg name="initial_port" default="8989" />

    <!--Infrastructure Nodes-->
    <node pkg="mac_utils" type="graphhopper.py" name ="graphhopper_node" output="screen">
        <!--List the preloaded maps separated by comma in start_maps-->
        <param name="start_maps" value="paris,london" />
        <param name="initial_port" value="$(arg initial_port)" />
    </node>

</launch>
