<launch>
    <node pkg="mac_ros_bridge" type="mac_ros_bridge_node.py"
        name="a1" output="screen"
        >
           <param name="agent_name" value="a1" />
    </node>
    <node pkg="mac_ros_bridge" type="dummy_agent.py"
        name="agent_node" output="screen"
        >
           <param name="agent_name" value="a1" />
    </node>
</launch>
