<launch>
    <arg name="agent_name" value="a1" />

    <node pkg="mac_ros_bridge" type="mac_ros_bridge_node.py"
        name="bridge_node_$(arg agent_name)" output="screen"
        >
            <param name="agent_name" value="$(arg agent_name)" />
            <param name="server_ip" value="localhost" />
    </node>

    <node pkg="mac_ros_bridge" type="dummy_agent.py"
        name="agent_node_$(arg agent_name)" output="screen"
        >
            <param name="agent_name" value="$(arg agent_name)" />
    </node>

</launch>
