<launch>
    <arg name="agent_name" value="a1" />

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch" pass_all_args="true">
    </include>

    <node pkg="mac_ros_bridge" type="dummy_agent.py"
        name="agent_node_$(arg agent_name)" output="screen"
        >
            <param name="agent_name" value="$(arg agent_name)" />
    </node>
</launch>
